<h2>Blackjack!</h2>

<p>Welcome  <%= session[:username] %></p>

<br/>

<div class="well"><h4>Dealer's cards:</h4>

  <% session[:dealer_cards].each do |card| %>
  <%= card_image(card) %>
  <% end %>

</div>


<br/>

<div class="well"><h4>Player's cards:</h4>

  <% session[:player_cards].each do |card| %>
  <%= card_image(card) %>
  <% end %>

</div>


<p>
  What would <%= session[:username] %> like to do?
<%= session[:username] %> has <%= calculate_total(session[:player_cards]) %>

<% if @show_hit_or_stay_button %>
<form id="hit_form" action="/game/player/hit" method='post'>
  <input type="submit" class="btn btn-success" value="Hit" />
</form>
<form id="stay_form" action="/game/player/stay" method='post'>
  <input type="submit" class="btn btn-warning" value="Stay" />
</form>
<% end %>
</p>
